<!DOCTYPE html>
<html>
    <head>
        <title>Main page</title>
        <link rel="stylesheet" href="attendance.css">
        
    </head>
    <body ng-app="hms">
        <header>
            <img src="logo.png">
            <h2>TCE Hostel</h2>
        </header>
        <section>
            <div id="nav1">
                <span onclick="openNav()">&#9776;</span>
                </div>
            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a href="#">Home</a>
                <a href="#">Logout</a>
                <a href="attendance.html">Attendance</a>
              </div>
        
        </section>
        <div id="attendance" ng-controller="controller1" >
            <student></student>
            <input type="date" ng-model="date" placeholder="date"><br><br>
            <input type="text" ng-model="status" placeholder="Search by Status">
            <table>
                <tr id="tablehead">
                    <td>Date</td>
                    <td>Status</td>
                </tr>
                <tr ng-repeat="x in attendance|filter:{'Status':status,'Date':(date|myDate)}">
                    <td>{{x.Date}}</td>
                    <td>{{x.Status}}</td>
                </tr>
            </table>
        </div>
    </body>
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="attendance.js"></script>
<!--- Attendance Page --->
</html>



















































