<!DOCTYPE html>
<html>
    <head>
        <title>Discussion page</title>
        <link rel="stylesheet" href="main.css">
        <link rel="stylesheet" href="discussion.css">
        <script src="angular.min.js"></script>
        <script src="Discussion.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    
    <body ng-app="hms">
        <header>
            <img src="logo.png">
            <h2>TCE Hostel</h2>
        </header>
        <nav class="navbar navbar-expand-lg " style="margin-left: 0px;height:40px;padding-left: 0px;background-color: rgb(108, 108, 247);" >
            <ul class="navbar-nav" >
              <li class="nav-item " >
                <a class="nav-link text-white" href="/Mainpage">Home </a>
              </li>
              <li class="nav-item" >
                <a class="nav-link text-white" href="">About us</a>
              </li>
              <li class="nav-item" >
                <a class="nav-link text-white" href= "login">Logout</a>
              </li>
            </ul>
        </nav>
        <h2>Discussion Forum</h2>
        <section >
            
            <div ng-controller="discuss2 as reply">
            </div>
            
                <div id="maindiv" ng-controller="discuss1 as post">
                    <div  ng-show="post.show" ng-repeat="x in post.text" id="posteddiv">
                        {{x.Name}}<br><br>
                        {{x.Post}}
                    </div><br>
                    <input ng-keydown="$event.keyCode===13 && post.addText()" id="postinput" type="text" ng-model="post.msg" placeholder="post your comments">
                    <button id="postbtn" ng-click="post.addText();">&#9655;</button>
                    
                </div>  
       </section>
    </body>
</html>





















