h2{
    text-align: center;
}
#maindiv{
    display: inline-block;
    position: absolute;
    left: 350px;
    width: 700px;
    height: 450px;
    border: 3px solid darkgray;
}
#postinput{
    position: absolute;
    bottom: 20px;
    left: 50px;
    border: 2px solid blue;
    border-radius: 10px;
    width: 80%;
    height: 30px;
}
#replyinput{
    position: absolute;
    bottom: 100px;
    left: 400px;
    border: 2px solid blue;
    border-radius: 10px;
    width: 50%;
    height: 30px;
}
#posteddiv{
    border:2px solid darkgrey;
    padding-bottom:5px;
    padding-top:5px;
    padding-left:5px;
    width: 50%;
    height:min-content;
    text-align: left;
    line-height: 0.7;
    margin-top: 10px;
}
#postbtn{
    position:absolute;
    color:white;
    bottom:20px;
    right:20px;
    width:40px;
    height:auto;
    padding:0px;
    font-size:30px;
    border-radius:10px;
    border:none;
    background-color:lightgreen;
}
