body{
    margin: 0px;
    padding: 0px;
}
header{
    background-color:#003380;
    text-align: center;
    color: whitesmoke;
    padding: 10px;
}
header img{
    height: 80px;
    width: 80px;
    position: absolute;
    top: 3px;
    left: 0px;
}
section{
    text-align: center;
}
select{
    width: 100px;
}
.floor button{
    width: 130px;
    background-color: gray;
    padding: 10px;
    color: white;
    font-size: 20px;
    display:block;
}
.floor{
    position: absolute;
    right: 10px;
    bottom: 200px;
}
.floor button:hover,#block:hover{
    background-color: lightgray;
    color: black;
}
.floor button:focus{
    background-color: lightgrey;
    color: black;
}
.room button{
    padding: 40px 40px;
    color: white;
    background-color:#003380 ;
    font-size: 20px;
    float: left;
    margin: 10px;
}
#room1{
    position:relative;
    top: 150px;
    left: 200px;
}
#room2{
    position:relative;
    top: 300px;
    right: 450px;
}
.allot button{
    padding: 15px 15px;
    background-color:greenyellow;
    font-size: 15px;
    margin: 10px;
    border: 2px solid grey;
}
.allot{
  border: 2px solid gray;
  width: 200px;
  position: absolute;
  right: 280px;
  bottom: 150px;
}
.allot button:hover{
    background-color: green;
    color: whitesmoke;
}
.allot button:focus{
    background-color: green;
    color: whitesmoke;
}
#reg{
    width: 100px;
    background-color: lightblue;
    color: black;
    height: 35px;
    text-align: center;
    padding: 5px;
}
#reg:hover{
    background-color: #003380;
    color: whitesmoke;
    border: 3px solid gray;
}